<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>E-Commerce</title>
</head>

<body style="overflow: hidden; ::-webkit-scrollbar{display: none}">

    <div class="grid place-content-center h-screen font-medium">
        <div class="absolute animate-spin-slow" style="margin-left: 1100px; margin-top: -45px;">
            <img width="250" height="70" src="designTop.jpg" alt="">
        </div>