<%-include("partials/header")-%>
    <h1 class="text-4xl text-lime-600 -mt-24 font ml-2">E-COMMERCE</h1>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75 font-serif">
        <a href="/insertTables"><button class="insert-view-buttons">INSERT TABLES</button></a>
    </div>
    <div class="bg-lime-400 rounded-lg text-center w-36 mx-auto p-2 mt-6 shadow-lg transition-all ease-in-out hover:-translate-all hover:scale-110 hover:bg-lime-500 duration-75 font-serif">
        <a href="/viewTables"><button class="insert-view-buttons">VIEW TABLES</button></a>
    </div>
    <%-include("partials/footer")-%>